<nav class="header-container">
    <a href="/index2"  style="text-decoration: none;"><pre>
╔═╦═╦═╦═╦═╗
║d║e║w║e║y║
╚═╩═╩═╩═╩═╝</pre></a>

    <div class="nav-links">
        {% if bloom_mod == 'admin' %}
            <a href="/admin">admin</a>
        {% elif bloom_mod == 'index' %}
            <a href="dewey">dewey</a>
        {% elif bloom_mod == 'lims' %}
            <a href="/lims">lims</a>
        {% elif bloom_mod == 'dewey' %}
            <a href="/dewey">dewey</a>
        {% else %}
            <a href="dewey">dewey</a>
        {% endif %}
        {% if page_title %}
            {% if page_title == 'Bloom' %}
            {% else %}
                <span class="page-title">{{ page_title }}</span>
            {% endif %}
        {% else %}
            <a href="dindex2">(g)</a>
        {% endif %}
    </div>
    <div class="spacer"></div>
    <div class="nav-user">
        <span>hello</span>
        {% if udat and 'email' in udat %}
            <a href="/user_home">{{ udat['email'] }}</a>
        {% else %}
            <a href="login">==> please login <==</a>
        {% endif %}
        <a class="logout-link" href="logout">logout</a>
    </div>
</nav>
<hr>

<script src="static/preview.js"></script>
