{% extends 'includes/base.html' %}
{% set page_title = 'Bloom' %}
{% set bloom_mod = 'index' %}

{% block extra_head %}
    {% include 'includes/oauth_script.html' %}
    {% include 'includes/accordion_styles.html' %}
{% endblock %}

{% block content %}
<ul style="padding: 0;">
    <div class="button-container" style="margin-top: 20px; text-align: center;padding: 0;">
        <a href="/index2" style="display: inline-block; margin: 20px; padding: 20px 40px; background-color: #28a745; color: magenta; text-decoration: none; font-size: 24px; border-radius: 8px;">... Please Authenticate To Proceed ...</a>
    </div>
{% endblock %}
