<div class="accordion-content">
    <ul>
        <form id="createFileForm" action="create_file" method="post" enctype="multipart/form-data">
            <input type="hidden" name="upload_group_key" value="{{ upload_group_key }}">
            <table>
                <tr>
                    <td>
                        <input type="hidden" value="na" id="name" name="name">

                        <h3>Specify Files</h3>
                        <hr>
                        <ul>
                            <label for="file_data">A Local File:</label>
                            <input type="file" id="file_data" name="file_data">
                            <br><br>

                            <label for="directory">A Directory Of Files <br>(NOT RECURSIVE, max 1k files):</label>
                            <input type="file" id="directory" name="directory" webkitdirectory directory multiple>
                            <br><br>

                            <label for="urls">Public URLs To Files (one per line):</label>
                            <textarea id="urls" name="urls" rows="5" cols="25"></textarea>
                            <br><br>

                            <label for="s3_uris">S3 URIs (accessible to dewey):</label>
                            <textarea id="s3_uris" name="s3_uris" rows="5" cols="28"></textarea>
                            <br><br>
                        </ul>
                    </td>
                    <td>
                        <h3>Add Metadata</h3>
                        <ul>
                            <small>upload group key: <code>{{ upload_group_key }}</code></small>
                            <br><br>

                            {% for field in ui_fields %}
                                <div>
                                    <label for="{{ field.name }}">{{ field.label }}</label>
                                    {% if field.type == "select" %}
                                        <select name="{{ field.name }}" id="{{ field.name }}" class="select-filter">
                                            {% if field.name == "patient_idx" %}
                                                <option value="" selected></option> <!-- Placeholder for blank state -->
                                                {% for option in field.options %}
                                                    <option value="{{ option }}">{{ option }}</option>
                                                {% endfor %}
                                            {% else %}
                                                {% for option in field.options %}
                                                    <option value="{{ option }}">{{ option }}</option>
                                                {% endfor %}
                                            {% endif %}
                                        </select>
                                        
                                    {% else %}
                                        {% if field.name.endswith('_datetime') %}
                                            <input type="date" name="{{ field.name }}" id="{{ field.name }}" />
                                        {% else %}
                                            <input type="{{ field.type }}" name="{{ field.name }}" id="{{ field.name }}" />
                                        {% endif %}
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button type="submit">Create</button>
                    </td>
                </tr>
            </table>
        </form>
    </ul>
</div>

<script>
    const controlledProperties = {{ controlled_properties | tojson | safe }};

    function updateDependentFields() {
        function populateSelectField(selectFieldId, options) {
            const selectField = $(`#${selectFieldId}`);
            selectField.empty();
            options.forEach(function(option) {
                selectField.append(new Option(option, option));
            });
            selectField.trigger('change');
        }

        function handleFieldChange(field, dependentField, enumObj) {
            $(`#${field}`).change(function() {
                const selectedValue = $(this).val();
                const dependentOptions = enumObj[selectedValue] || [];
                populateSelectField(dependentField, dependentOptions);
            });
        }

        Object.keys(controlledProperties).forEach(function(prop) {
            if (controlledProperties[prop].type === "dependent string") {
                const dependentField = controlledProperties[prop].on;
                const enumObj = controlledProperties[prop].enum;
                handleFieldChange(dependentField, prop, enumObj);
            }
        });
    }

    function filterOptions(event) {
        const input = event.target.value.toLowerCase();
        const selectField = event.target;
        const options = selectField.options;

        for (let i = 0; i < options.length; i++) {
            const optionText = options[i].text.toLowerCase();
            if (optionText.includes(input) || options[i].value === "") {
                options[i].style.display = "";
            } else {
                options[i].style.display = "none";
            }
        }
    }

    $(document).ready(function() {
        updateDependentFields();

        // Attach the filter function to the patient_id select field
        $('#patient_id').on('keyup change', filterOptions);
    });
</script>
<script>
    $(document).ready(function() {
        // Initialize Selectize on the patient_id field
        $('#patient_id').selectize({
            create: true, // Allows the user to create a new item if no match is found
            sortField: [
                {
                    field: 'value', // Sort by the value attribute of the option
                    direction: 'asc'
                }
            ],
            placeholder: 'Select or type to add...',
            persist: false,
            render: {
                option_create: function(data, escape) {
                    return '<div class="create">Create: <strong>' + escape(data.input) + '</strong>&hellip;</div>';
                }
            }
        });
    });
    </script>
    